<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        Opciones
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="/clientes/<%= @cliente.id %>/?vista=perfil">Mi Perfil</a>
        </li>
        <li class="list-group-item">
          <a href="/clientes/<%= @cliente.id %>/?vista=ordenes">Ordenes</a>
        </li>
        <li class="list-group-item">
          <a href="#">Cambiar Contraseña</a>
        </li>
        <li class="list-group-item">
          <a href="#">Salir</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-8">
    <div class="card">
      <div class="card-header">
        <%= @vista.to_s.capitalize %>
      </div>
      <div class="card-Body">
          <% if @vista== "perfil" %>
            <%= render 'form', cliente: @cliente %>
          <% elsif @vista == "ordenes" %>
            <%= render 'ordenes', cliente: @cliente %>
         <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Editar', edit_cliente_path(@cliente) %> |
<%= link_to 'Volver', clientes_path %>
