<p id="notice"><%= notice %></p>

<p>
  <strong>Nombres:</strong>
  <%= @cliente.nombres %>
</p>

<p>
  <strong>Apell pat:</strong>
  <%= @cliente.apell_pat %>
</p>

<p>
  <strong>Apell mat:</strong>
  <%= @cliente.apell_mat %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @cliente.dni %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
