<link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" 
  rel="stylesheet" >

<p id="notice"><%= notice %></p>

<h1>Ordens</h1>

<table id='myTable' class='table'>
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Codigo</th>
      <th>Proceso</th>
      <th>Entrega</th>
      <th>Cierre</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ordens.each do |orden| %>
      <tr>
        <td><%= orden.cliente_id %></td>
        <td><%= orden.codigo %></td>
        <td><%= orden.proceso_text %></td>
        <td><%= orden.entrega_text %></td>
        <td><%= orden.cierre_text %></td>
        <td><%= link_to 'Show', orden %></td>
        <td><%= link_to 'Edit', edit_orden_path(orden) %></td>
        <td><%= link_to 'Destroy', orden, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orden', new_orden_path %>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script 
src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $('#myTable').DataTable({
      language: {
        url: "//cdn.datatables.net/plug-ins/1.11.3/i18n/es-cl.json"
      }
    });
  });
</script>
