<link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"
rel="stylesheet">
<p id="notice"><%= notice %></p>

<h1>Categoria</h1>

<table id="myTable" class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Imagen</th>
      <th>N Productos</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categoria.each do |categorium| %>
      <tr>
        <td><%= categorium.nombre %></td>
        <td><%= categorium.imagen %></td>
        <td><%= categorium.nproductos %></td>
        <td><%= link_to 'Mostrar', categorium %></td>
        <td><%= link_to 'Editar', edit_categorium_path(categorium) %></td>
        <td><%= link_to 'Eliminar', categorium, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categorium', new_categorium_path %>

<script src="https://code.jquery.com/jquery-3.6.0.min.js">
</script>

<script 
src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $('#myTable').DataTable({
      language: {
        url: "//cdn.datatables.net/plug-ins/1.11.3/i18n/es-cl.json"
      }
    });
  });
</script>