<p id="notice"><%= notice %></p>

<h1>Orden Productos</h1>

<table>
  <thead>
    <tr>
      <th>Orden</th>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Descuento</th>
      <th>Instrucciones</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orden_productos.each do |orden_producto| %>
      <tr>
        <td><%= orden_producto.orden_id %></td>
        <td><%= orden_producto.producto_id %></td>
        <td><%= orden_producto.cantidad %></td>
        <td><%= orden_producto.precio %></td>
        <td><%= orden_producto.descuento %></td>
        <td><%= orden_producto.instrucciones %></td>
        <td><%= link_to 'Mostrar', orden_producto %></td>
        <td><%= link_to 'Editar', edit_orden_producto_path(orden_producto) %></td>
        <td><%= link_to 'Eliminar', orden_producto, method: :delete, data: { confirm: 'Estas seguro de irte?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orden Producto', new_orden_producto_path %>
