<p id="notice"><%= notice %></p>

<p>
  <strong>Orden:</strong>
  <%= @orden_producto.orden_id %>
</p>

<p>
  <strong>Prodcuto:</strong>
  <%= @orden_producto.prodcuto_id %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @orden_producto.cantidad %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @orden_producto.precio %>
</p>

<p>
  <strong>Instrucciones:</strong>
  <%= @orden_producto.instrucciones %>
</p>

<%= link_to 'Edit', edit_orden_producto_path(@orden_producto) %> |
<%= link_to 'Back', orden_productos_path %>
