<div class="container">
  <div class="row">
    <div class="col">
      <%if notice.blank? %>
      <% else %>
      <div class= "alert alert-success"
       id="notice"><%= notice %></div>
      <% end %>

      <p>
        <strong>Nombre:</strong>
        <%= @proy.nombre %>
      </p>

      <p>
        <strong>Imagen:</strong>
        <%= @proy.imagen %>
      </p>

      <%= link_to 'Edit', edit_proy_path(@proy), 
      class: "btn btn-primary mb-4" %> |
      <%= link_to 'Back', 
      proys_path,class: "btn btn-secondary mb-4" %>
    </div>
  </div>
</div>