<%= form_with(model: rol_usuario) do |form| %>
  <% if rol_usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rol_usuario.errors.count, "error") %> prohibited this rol_usuario from being saved:</h2>

      <ul>
        <% rol_usuario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :rol_id %>
    <%= form.text_field :rol_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
