<p id="notice"><%= notice %></p>

<h1>Rol Usuarios</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Rol</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rol_usuarios.each do |rol_usuario| %>
      <tr>
        <td><%= rol_usuario.user_id %></td>
        <td><%= rol_usuario.rol_id %></td>
        <td><%= link_to 'Show', rol_usuario %></td>
        <td><%= link_to 'Edit', edit_rol_usuario_path(rol_usuario) %></td>
        <td><%= link_to 'Destroy', rol_usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rol Usuario', new_rol_usuario_path %>
