<%= form_with(model: orden_proyecto) do |form| %>
  <% if orden_proyecto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(orden_proyecto.errors.count, "error") %> prohibited this orden_proyecto from being saved:</h2>

      <ul>
        <% orden_proyecto.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :orden_id %>
    <%= form.text_field :orden_id %>
  </div>

  <div class="field">
    <%= form.label :proyecto_id %>
    <%= form.text_field :proyecto_id %>
  </div>

  <div class="field">
    <%= form.label :instucciones %>
    <%= form.text_field :instucciones %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
