<p id="notice"><%= notice %></p>

<h1>Orden Proyectos</h1>

<table>
  <thead>
    <tr>
      <th>Orden</th>
      <th>Proyecto</th>
      <th>Instucciones</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orden_proyectos.each do |orden_proyecto| %>
      <tr>
        <td><%= orden_proyecto.orden_id %></td>
        <td><%= orden_proyecto.proyecto_id %></td>
        <td><%= orden_proyecto.instucciones %></td>
        <td><%= link_to 'Show', orden_proyecto %></td>
        <td><%= link_to 'Edit', edit_orden_proyecto_path(orden_proyecto) %></td>
        <td><%= link_to 'Destroy', orden_proyecto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orden Proyecto', new_orden_proyecto_path %>
