<link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" 
  rel="stylesheet" >

<p id="notice"><%= notice %></p>

<h1>Orden Proyectos</h1>

	<table id='myTable' class='table'>
  <thead>
    <tr>
      <th>Orden</th>
      <th>Proyecto</th>
      <th>Instucciones</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orden_proyectos.each do |orden_proyecto| %>
      <tr>
        <td><%= orden_proyecto.orden_id %></td>
        <td><%= orden_proyecto.proyecto_id %></td>
        <td><%= orden_proyecto.instucciones %></td>
        <td><%= link_to 'Show', orden_proyecto %></td>
        <td><%= link_to 'Edit', edit_orden_proyecto_path(orden_proyecto) %></td>
        <td><%= link_to 'Destroy', orden_proyecto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orden Proyecto', new_orden_proyecto_path %>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script 
  src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $('#myTable').DataTable({
      language: {
        url: "//cdn.datatables.net/plug-ins/1.11.3/i18n/es-cl.json"
      }
    });
  });
</script>