<link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"
rel="stylesheet">
<p id="notice"><%= notice %></p>

<h1>Productos</h1>

<table id= 'myTable' class= 'table'>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Categoria</th>
      <th>Descripcion</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.nombre %></td>
        <td><%= producto.categorium.nombre %></td>
        <td><%= producto.descripcion %></td>
        <td><%= link_to 'Mostrar', producto %></td>
        <td><%= link_to 'Editar', edit_producto_path(producto) %></td>
        <td><%= link_to 'Eliminar', producto, method: :delete, data: { confirm: 'Estas segura?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Producto', new_producto_path %>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $('#myTable').DataTable({
      language: {
        url: "//cdn.datatables.net/plug-ins/1.11.3/i18n/es-cl.json"
      }
    });
  });
</script>