<%= form_with(model: orden_entrega) do |form| %>
  <% if orden_entrega.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(orden_entrega.errors.count, "error") %> prohibited this orden_entrega from being saved:</h2>

      <ul>
        <% orden_entrega.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :orden_id %>
    <%= form.text_field :orden_id %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha %>
  </div>

  <div class="field">
    <%= form.label :instrucciones %>
    <%= form.text_field :instrucciones %>
  </div>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :direccion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
